body,
.dark-theme {
  background-color: #0C111B;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}