@import url('https://unpkg.com/boxicons@latest/css/boxicons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #1a1a1a;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}